// Light theme
$white-bg : #c5b8b8;
$font-black: #000;
$card-white: #F3F5F7;
$text-grey: #ADADAD;
$bg-white: #fff;

// Dark theme
$dark-bg : #0D1F29;
$font-grey: #617986;
$font-white: #fff;
$card-black: #1A3848;



// Common 
$lg-green : #DEF9EC;
$green: #3BB77E;
$orange: #FEEFEA;
$purple: #FFF3FF;
$darkgreen: #F2FCE4;
$pink: #FEEFEA;
$Yellowgreen: #ECFFEC;
$yellow: #FFFCEB;
$blue: #DEF9EC;
$black: #252424;
$light-black: #3e3d3d;
$hover-bg: #f5f5f5;
$border: #ecece5;
$gold: #ffd700;
$red : #ff0000;
$blue: #1279f1;